*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

nav{
    width: 100%;
    background-color: crimson;
}

nav li{
    height: 50px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

nav a:hover{
    background-color: white;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}